a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	color: #CCCCCC;
	text-decoration: underline;
}
body{
	font-family: Microsoft YaHei;
	color: #575757;
	background-image:url(../image/firstPage.jpg);
}